@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 33, ../sass/screen.scss */
web-assistant {
  z-index: -10000;
  position: fixed;
  bottom: -10px;
  right: -10px;
}
/* line 38, ../sass/screen.scss */
web-assistant > div {
  position: relative;
}

/* line 42, ../sass/screen.scss */
.assistant_img {
  width: auto;
  height: 120px;
  transition: 0.5s;
  opacity: 0;
}

/* line 48, ../sass/screen.scss */
.assistant_message {
  position: absolute;
  bottom: 90%;
  right: 90%;
  width: 180px;
  height: 90px;
  background-color: #677676;
  color: #fff;
  padding: 10px;
  transition: 0.5s;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  border: 1px solid #CBD2D8;
  z-index: 2;
}
/* line 64, ../sass/screen.scss */
.assistant_message:after {
  position: absolute;
  bottom: -30px;
  right: 10px;
  content: "";
  display: block;
  border: 20px solid transparent;
  border-top: 20px solid #677676;
  border-right: 20px solid #677676;
  z-index: 1;
}

/* line 77, ../sass/screen.scss */
.assistant_active {
  opacity: 1;
}

/* line 84, ../sass/screen.scss */
#bg_spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30000;
  background-color: rgba(255, 255, 255, 0.7);
}
/* line 92, ../sass/screen.scss */
#bg_spinner i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.7);
  font-size: 5em !important;
}

/* line 105, ../sass/screen.scss */
.clearfloat:after, #compare_wrapper table td.btnSort_wrap:after,
.clearfloat:before,
#compare_wrapper table td.btnSort_wrap:before {
  content: "";
  display: table;
  clear: both;
}

/* line 111, ../sass/screen.scss */
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 116, ../sass/screen.scss */
a,
a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}

/* line 122, ../sass/screen.scss */
#rotateLogo {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
}

/* line 128, ../sass/screen.scss */
button,
.btn_custom,
#registr_form input[type=submit] {
  background-color: #ecead4;
  padding: 2px 5px;
  border-radius: 2px;
  border: 1px solid #CBD2D8;
  transition: 0.2s;
}
/* line 135, ../sass/screen.scss */
button:hover,
.btn_custom:hover,
#registr_form input[type=submit]:hover {
  background-color: #CDCBB5;
  box-shadow: 1px 1px 3px #CBD2D8, -1px -1px 3px #CBD2D8;
}

/* line 142, ../sass/screen.scss */
input:focus,
button:focus {
  outline: none;
}

/* line 146, ../sass/screen.scss */
input {
  border: 1px solid #CBD2D8;
  padding: 3px 4px;
  margin: 5px;
  border-radius: 3px;
}
/* line 151, ../sass/screen.scss */
input:hover, input:focus {
  box-shadow: inset 1px 1px 5px #CBD2D8, inset -1px -1px 5px #CBD2D8;
}

/* line 156, ../sass/screen.scss */
.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 162, ../sass/screen.scss */
.message_box {
  border: none;
  background-color: transparent;
  color: #FF2C2C;
  font-size: 0.8em;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}
/* line 171, ../sass/screen.scss */
.message_box:hover {
  box-shadow: none;
}

/* line 175, ../sass/screen.scss */
form {
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #CBD2D8;
}

/* line 181, ../sass/screen.scss */
body {
  color: #3E3E3E;
  background-color: #f9f9f9;
}

/* line 192, ../sass/screen.scss */
#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10000;
}
/* line 200, ../sass/screen.scss */
#preloader i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #677676;
}

/* line 216, ../sass/screen.scss */
header {
  background-color: #677676;
}

/* line 219, ../sass/screen.scss */
#logo {
  float: left;
}
/* line 221, ../sass/screen.scss */
#logo a {
  display: block;
  padding: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  padding: 7px 40px 7px 20px;
}

/* line 230, ../sass/screen.scss */
nav {
  float: left;
}
/* line 233, ../sass/screen.scss */
nav ul li {
  float: left;
  padding: 10px;
}
/* line 236, ../sass/screen.scss */
nav ul li a {
  display: block;
  font-size: 1em;
  text-align: center;
  border-bottom: 2px solid transparent;
}
/* line 241, ../sass/screen.scss */
nav ul li a:hover {
  border-bottom: 2px solid #fff;
}
/* line 245, ../sass/screen.scss */
nav ul li:last-child {
  font-size: 1em;
  margin-left: 15px;
}

/* line 252, ../sass/screen.scss */
.nav_active {
  border-bottom: 2px solid #fff;
}

/* line 256, ../sass/screen.scss */
#autentif_wrap {
  float: right;
  padding: 10px;
  position: relative;
  text-align: center;
}

/* line 262, ../sass/screen.scss */
#userLogin,
#log_in,
#avatar_img_wrap,
#basket,
#log_out {
  float: left;
}

/* line 269, ../sass/screen.scss */
#user_product_basket {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  z-index: 100;
  padding: 3px;
  border: 1px solid #CBD2D8;
}

/* line 278, ../sass/screen.scss */
#avatar_img_wrap {
  width: 30px;
  height: 30px;
}
/* line 281, ../sass/screen.scss */
#avatar_img_wrap img {
  display: block;
  margin: auto;
  height: 100%;
  width: auto;
}

/* line 290, ../sass/screen.scss */
#login_main {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #fff;
  padding: 20px;
  height: 430px;
  width: 500px;
  border: 3px solid #aab7c0;
}
/* line 303, ../sass/screen.scss */
#login_main > ul li {
  position: relative;
  top: 1px;
  margin-right: 5px;
  padding: 5px 10px;
  float: left;
  cursor: pointer;
  border: 1px solid #aab7c0;
  border-bottom: 1px solid #aab7c0;
  font-size: 1.8em;
  background-color: #fff span;
  background-color-opacity: 0.5;
}
/* line 319, ../sass/screen.scss */
#login_main form {
  padding: 30px 20px;
  border: 1px solid #aab7c0;
  border-radius: 0;
  background-color: #fff;
}
/* line 324, ../sass/screen.scss */
#login_main form input {
  width: 200px;
}
/* line 326, ../sass/screen.scss */
#login_main form input:focus {
  border-color: #CBD2D8;
}
/* line 331, ../sass/screen.scss */
#login_main .btn_close_login {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 4px;
  font-size: 2em;
}

/* line 339, ../sass/screen.scss */
.tab_login_active {
  border: 1px solid #aab7c0 !important;
  border-bottom: 1px solid #fff !important;
}
/* line 342, ../sass/screen.scss */
.tab_login_active span {
  opacity: 1 !important;
}

/* line 355, ../sass/screen.scss */
#login_form input,
#login_form button {
  margin: 10px auto;
}
/* line 359, ../sass/screen.scss */
#login_form input[type="checkbox"] {
  width: auto;
}
/* line 362, ../sass/screen.scss */
#login_form button {
  padding: 5px 10px;
  font-size: 1.3em;
}

/* line 369, ../sass/screen.scss */
#registr_form label {
  margin-bottom: 20px;
  position: relative;
}
/* line 372, ../sass/screen.scss */
#registr_form label input {
  margin: 0;
}
/* line 375, ../sass/screen.scss */
#registr_form label input.ng-invalid {
  box-shadow: inset -2px 0 0 #FF7777;
}
/* line 379, ../sass/screen.scss */
#registr_form label input.ng-valid {
  box-shadow: inset -2px 0 0 #7EC670;
}
/* line 382, ../sass/screen.scss */
#registr_form label > span {
  position: absolute;
  bottom: 100%;
  left: 0;
}
/* line 388, ../sass/screen.scss */
#registr_form input[type=submit] {
  padding: 10px;
  font-size: 1.2em;
}
/* line 390, ../sass/screen.scss */
#registr_form input[type=submit]:hover {
  background-color: #ecead4;
  box-shadow: none;
}

/* line 398, ../sass/screen.scss */
#select_avatar {
  text-align: center;
}
/* line 400, ../sass/screen.scss */
#select_avatar .img_wrap {
  border: 1px solid #CBD2D8;
  overflow: hidden;
  height: 197px;
  text-align: center;
  position: relative;
}
/* line 407, ../sass/screen.scss */
#select_avatar .img_wrap div {
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
/* line 415, ../sass/screen.scss */
#select_avatar .img_wrap div i {
  transition: 0.3s;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.2);
}
/* line 422, ../sass/screen.scss */
#select_avatar .img_wrap div:hover i {
  color: rgba(0, 0, 0, 0.6);
}
/* line 427, ../sass/screen.scss */
#select_avatar .img_wrap img {
  width: auto;
  height: 100%;
}

/* line 443, ../sass/screen.scss */
#choice_wrap {
  position: relative;
}

/* line 450, ../sass/screen.scss */
#select_product {
  margin-left: 60px;
  margin-top: 10px;
}
/* line 453, ../sass/screen.scss */
#select_product > li {
  float: left;
  width: 20%;
  text-align: center;
}
/* line 458, ../sass/screen.scss */
#select_product > li:not(:last-child) {
  border-right: none;
}
/* line 461, ../sass/screen.scss */
#select_product > li a {
  transition: 0.2s;
  text-transform: uppercase;
  color: #3E3E3E;
  display: block;
  padding: 10px 0;
  border: 1px solid #f9f9f9;
}
/* line 472, ../sass/screen.scss */
#select_product > li a > img {
  width: auto;
  height: 50px;
}
/* line 477, ../sass/screen.scss */
#select_product > li a i {
  font-size: 1.2em;
}
/* line 480, ../sass/screen.scss */
#select_product > li a:hover {
  background-color: #677676;
  color: #fff;
}
/* line 487, ../sass/screen.scss */
#select_product .current_products {
  position: relative;
  background-color: #677676;
  opacity: 1 !important;
  color: #fff;
}
/* line 492, ../sass/screen.scss */
#select_product .current_products span {
  border-right: 1px solid transparent !important;
}
/* line 496, ../sass/screen.scss */
#select_product .current_products:before {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: '';
  display: block;
  border: 20px solid transparent;
  border-top: 20px solid #677676;
}

/* line 517, ../sass/screen.scss */
#select_bar {
  position: relative;
  margin-top: 20px;
}
/* line 520, ../sass/screen.scss */
#select_bar > ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  z-index: 2;
  border-bottom: 3px solid #677676;
}
/* line 528, ../sass/screen.scss */
#select_bar > ul a {
  transition: 0.2s;
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #f9f9f9;
  font-size: 1.6em;
  text-align: center;
  line-height: 40px;
  color: #3E3E3E;
  color: #3E3E3E;
}
/* line 541, ../sass/screen.scss */
#select_bar > ul a i {
  z-index: 2;
}
/* line 545, ../sass/screen.scss */
#select_bar > ul a:before {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: 100%;
  border: 20px solid transparent;
  border-left: 20px solid #677676;
  -webkit-transform-origin: left;
  transform-origin: left;
  transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
}
/* line 558, ../sass/screen.scss */
#select_bar > ul a:hover {
  background-color: #677676;
}
/* line 560, ../sass/screen.scss */
#select_bar > ul a:hover i {
  color: #fff;
}
/* line 563, ../sass/screen.scss */
#select_bar > ul a:hover:before {
  border-left: 20px solid #677676;
}
/* line 568, ../sass/screen.scss */
#select_bar > ul li:not(:last-child) a {
  border-bottom: none;
}

/* line 576, ../sass/screen.scss */
.bar_item_active {
  background-color: #677676;
  opacity: 1 !important;
}
/* line 579, ../sass/screen.scss */
.bar_item_active i {
  color: #fff;
}
/* line 582, ../sass/screen.scss */
.bar_item_active:before {
  transform: rotateY(0deg) !important;
  -webkit-transform: rotateY(0deg) !important;
}

/* line 587, ../sass/screen.scss */
.bar_page_wrap {
  overflow: hidden;
  margin-left: 60px;
  border: 3px solid #677676;
  border-bottom: none;
  min-height: 165px;
}

/* line 594, ../sass/screen.scss */
.bar_page_animate {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* line 598, ../sass/screen.scss */
.bar_page_animate.ng-enter {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* line 602, ../sass/screen.scss */
.bar_page_animate.ng-leave {
  display: none;
}

/* line 605, ../sass/screen.scss */
.bar_page_animate.ng-leave.ng-leave-active {
  display: none;
}

/* line 616, ../sass/screen.scss */
#list_wrap {
  padding: 20px;
  border: 3px solid #677676;
  border-top: none;
}
/* line 621, ../sass/screen.scss */
#list_wrap .col_custom {
  padding-right: 5px;
  padding-left: 5px;
}

/* line 626, ../sass/screen.scss */
.products_item {
  transition: 0.3s;
  border: 1px solid #CBD2D8;
  padding: 5px;
  margin-top: 10px;
  position: relative;
}
/* line 632, ../sass/screen.scss */
.products_item .sale {
  position: absolute;
  top: 7px;
  left: 7px;
  padding: 3px;
  border-radius: 2px;
  background-color: #FF7777;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
/* line 642, ../sass/screen.scss */
.products_item .sale:hover {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/* line 647, ../sass/screen.scss */
.products_item h2 {
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;
  margin: 15px 0 40px;
  position: relative;
}
/* line 653, ../sass/screen.scss */
.products_item h2 span {
  text-transform: uppercase;
}
/* line 656, ../sass/screen.scss */
.products_item h2 b {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.4em;
  color: #3E3E3E;
}
/* line 664, ../sass/screen.scss */
.products_item i {
  color: #3E3E3E;
}
/* line 665, ../sass/screen.scss */
.products_item .star_reiting_wrap {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
/* line 669, ../sass/screen.scss */
.products_item .star_reiting_wrap star-reiting {
  display: inline-block;
}
/* line 673, ../sass/screen.scss */
.products_item .star_reiting_wrap span {
  position: absolute;
  right: -35%;
  top: -3%;
  font-size: 1.3em;
  font-weight: bold;
}
/* line 680, ../sass/screen.scss */
.products_item .star_reiting_wrap i {
  font-size: 1.2em;
}
/* line 683, ../sass/screen.scss */
.products_item .btn_basket {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  font-size: 1.1em;
}
/* line 689, ../sass/screen.scss */
.products_item .btn_basket i {
  font-size: 1.1em;
}
/* line 691, ../sass/screen.scss */
.products_item .img_wrap {
  margin: 15px;
  text-align: center;
}
/* line 694, ../sass/screen.scss */
.products_item .img_wrap img {
  transition: 0.3s;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 130px;
}
/* line 702, ../sass/screen.scss */
.products_item .btn_compare,
.products_item .btn_info {
  position: absolute;
  left: 5px;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
}
/* line 710, ../sass/screen.scss */
.products_item .btn_compare i,
.products_item .btn_info i {
  font-size: 1.5em;
}
/* line 712, ../sass/screen.scss */
.products_item .btn_compare {
  top: 60px;
}
/* line 713, ../sass/screen.scss */
.products_item .btn_info {
  top: 120px;
}
/* line 716, ../sass/screen.scss */
.products_item:hover img {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
/* line 721, ../sass/screen.scss */
.products_item:hover popup-img i.fa-search-plus {
  opacity: 1;
}

/* line 730, ../sass/screen.scss */
.btn_compare i.fa-check-circle-o,
.btn_basket i.fa-check-circle-o {
  display: none;
}

/* line 735, ../sass/screen.scss */
.btn_checked i.fa-check-circle-o {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #2C902C;
  display: block;
  font-size: 2em;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 745, ../sass/screen.scss */
.btn_checked i.fa-balance-scale,
.btn_checked i.fa-shopping-basket {
  opacity: 0.2;
}

/* line 760, ../sass/screen.scss */
#search_wrapper .slider_wrap .slider_item {
  position: relative;
  border: 1px solid #CBD2D8;
  padding: 0 5px;
  font-size: 1em;
  margin-top: 10px;
}
/* line 766, ../sass/screen.scss */
#search_wrapper .slider_wrap .slider_item > span {
  background-color: #fff;
  position: absolute;
  padding: 0 5px;
  top: -10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}
/* line 777, ../sass/screen.scss */
#search_wrapper .slider_wrap rzslider .rz-pointer {
  background-color: #677676;
  top: -8px;
  height: 19px;
  border-radius: 3px;
}
/* line 782, ../sass/screen.scss */
#search_wrapper .slider_wrap rzslider .rz-pointer:after {
  display: none;
}
/* line 786, ../sass/screen.scss */
#search_wrapper .slider_wrap rzslider .rz-bar {
  background: #677676;
}
/* line 789, ../sass/screen.scss */
#search_wrapper .slider_wrap rzslider .rz-bar.rz-selection {
  background: #000;
}

/* line 796, ../sass/screen.scss */
.search_item {
  position: relative;
  margin: 25px 10px;
  padding: 10px;
  border: 1px solid #CBD2D8;
}
/* line 801, ../sass/screen.scss */
.search_item > span {
  border: 1px solid #CBD2D8;
  position: absolute;
  padding: 0 3px;
  top: -10px;
  left: 10px;
  background-color: #fff;
}

/* line 812, ../sass/screen.scss */
.check_wrap label {
  margin-top: 5px;
  margin-right: 5px;
  padding: 3px;
  border-radius: 2px;
  border: 1px solid #CBD2D8;
}
/* line 818, ../sass/screen.scss */
.check_wrap label i {
  display: inline-block;
  border: 1px solid #CBD2D8;
}
/* line 822, ../sass/screen.scss */
.check_wrap label h2 {
  display: inline;
}
/* line 825, ../sass/screen.scss */
.check_wrap label input {
  display: none;
}

/* line 831, ../sass/screen.scss */
.check_hide:before {
  opacity: 0;
}

/* line 843, ../sass/screen.scss */
#product_info_wrap {
  padding: 15px;
}
/* line 846, ../sass/screen.scss */
#product_info_wrap .star_reiting_wrap {
  text-align: center;
}
/* line 848, ../sass/screen.scss */
#product_info_wrap .star_reiting_wrap star-reiting {
  display: inline-block;
  font-size: 1.5em;
  margin-bottom: 10px;
}
/* line 855, ../sass/screen.scss */
#product_info_wrap > h2 {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 862, ../sass/screen.scss */
#product_info_wrap .info_bar li {
  float: left;
}
/* line 864, ../sass/screen.scss */
#product_info_wrap .info_bar li a {
  display: block;
  opacity: 0.5;
  color: #3E3E3E;
  padding: 5px 10px;
  font-size: 1.2em;
  border: 1px solid transparent;
  border-bottom: none;
  background-color: #f9f9f9;
}

/* line 878, ../sass/screen.scss */
.info_active {
  z-index: 1 !important;
  opacity: 1 !important;
  border: 1px solid #CBD2D8 !important;
  border-bottom: none !important;
  box-shadow: 0 1px 0 #f9f9f9 !important;
}

/* line 885, ../sass/screen.scss */
#info_view {
  border: 1px solid #CBD2D8;
  padding: 15px;
}

/* line 893, ../sass/screen.scss */
#info_property_wrap table {
  width: 100%;
  padding: 10px;
}
/* line 897, ../sass/screen.scss */
#info_property_wrap table tr td:first-child {
  font-weight: bold;
  text-align: center;
}
/* line 902, ../sass/screen.scss */
#info_property_wrap table td {
  border: 1px solid #CBD2D8;
  padding: 3px 5px;
}

/* line 910, ../sass/screen.scss */
#colours_wrap > div {
  float: left;
  margin: 2px 5px;
  width: 13px;
  height: 13px;
  border: 1px solid #686B6E;
}

/* line 920, ../sass/screen.scss */
#info_comments_wrap .user_name {
  font-weight: bold;
}
/* line 923, ../sass/screen.scss */
#info_comments_wrap .date {
  padding: 0 5px;
  font-style: italic;
}

/* line 931, ../sass/screen.scss */
#add_comment {
  position: relative;
}
/* line 934, ../sass/screen.scss */
#add_comment textarea {
  width: 100%;
  padding: 15px;
}
/* line 938, ../sass/screen.scss */
#add_comment > span {
  position: absolute;
  color: #FF7777;
  top: 2px;
  right: 2px;
}

/* line 957, ../sass/screen.scss */
#compare_wrapper {
  padding: 15px;
}
/* line 959, ../sass/screen.scss */
#compare_wrapper table {
  width: 100%;
}
/* line 963, ../sass/screen.scss */
#compare_wrapper table .brand td,
#compare_wrapper table .model td {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}
/* line 971, ../sass/screen.scss */
#compare_wrapper table .img_wrap {
  text-align: center;
}
/* line 974, ../sass/screen.scss */
#compare_wrapper table td {
  padding: 3px 10px;
  border: 1px solid #CBD2D8;
}
/* line 977, ../sass/screen.scss */
#compare_wrapper table td:first-child {
  font-weight: bold;
}
/* line 984, ../sass/screen.scss */
#compare_wrapper table td.btnSort_wrap button {
  float: right;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  opacity: 0.5;
}
/* line 994, ../sass/screen.scss */
#compare_wrapper table td.btnSort_wrap button i {
  font-size: 1.4em;
}
/* line 997, ../sass/screen.scss */
#compare_wrapper table td.btnSort_wrap button:hover {
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
}
/* line 1003, ../sass/screen.scss */
#compare_wrapper table td.btnSort_wrap button:first-child {
  right: 5px;
}
/* line 1004, ../sass/screen.scss */
#compare_wrapper table td.btnSort_wrap button:last-child {
  right: 44px;
}
/* line 1008, ../sass/screen.scss */
#compare_wrapper table img {
  height: 50px;
  width: auto;
}

/* line 1014, ../sass/screen.scss */
.max_value {
  color: #7EC670;
}

/* line 1017, ../sass/screen.scss */
.min_value {
  color: #FF7777;
}

/* line 1030, ../sass/screen.scss */
.pagination_wrap {
  text-align: center;
}

/* line 1033, ../sass/screen.scss */
#custom_pagination {
  text-align: center;
}
/* line 1035, ../sass/screen.scss */
#custom_pagination a {
  margin: 0 2px;
  font-size: 1em;
  color: #3E3E3E;
}
/* line 1039, ../sass/screen.scss */
#custom_pagination a:nth-child(4), #custom_pagination a:nth-child(5), #custom_pagination a:nth-child(6), #custom_pagination a:nth-child(7), #custom_pagination a:nth-child(8) {
  border: 1px solid #CBD2D8;
  cursor: pointer;
  width: 27px;
}
/* line 1049, ../sass/screen.scss */
#custom_pagination a:nth-child(3), #custom_pagination a:nth-child(9) {
  pointer-events: none;
}
/* line 1053, ../sass/screen.scss */
#custom_pagination a:first-child, #custom_pagination a:last-child {
  text-decoration: underline;
  cursor: pointer;
  width: 27px;
}
/* line 1059, ../sass/screen.scss */
#custom_pagination a:nth-child(2), #custom_pagination a:nth-child(10) {
  cursor: pointer;
}
/* line 1062, ../sass/screen.scss */
#custom_pagination a:nth-child(2) i, #custom_pagination a:nth-child(10) i {
  font-weight: bold;
}

/* line 1068, ../sass/screen.scss */
.current_pag {
  background-color: #677676;
}

/* line 1071, ../sass/screen.scss */
.disabled_pag {
  opacity: 0;
  cursor: none;
  pointer-events: none;
}

/* line 1076, ../sass/screen.scss */
.disabled_pag_ {
  width: 1px;
}

/* line 1086, ../sass/screen.scss */
#goods_sale ul {
  overflow: visible;
}

/* line 1097, ../sass/screen.scss */
.starReiting li {
  float: left;
}
/* line 1100, ../sass/screen.scss */
.starReiting li a i {
  color: #FF7777;
}

/* line 1107, ../sass/screen.scss */
.raiting_prev_session {
  color: #7EC670;
  font-weight: bold;
}

/* line 1111, ../sass/screen.scss */
.fa_star_hover {
  color: #FF2C2C !important;
}
/* line 1113, ../sass/screen.scss */
.fa_star_hover:before {
  content: "";
}

/* line 1117, ../sass/screen.scss */
.fa_star_click {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  color: #FF2C2C !important;
}
/* line 1121, ../sass/screen.scss */
.fa_star_click:before {
  content: "";
}

/* line 1133, ../sass/screen.scss */
popup-img i.fa-search-plus {
  opacity: 0;
}

/* line 1137, ../sass/screen.scss */
.toggle_small_img {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(1.025, 1.025);
  transform: scale(1.05, 1.05);
}

/* line 1143, ../sass/screen.scss */
.popup_img_link {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
/* line 1150, ../sass/screen.scss */
.popup_img_link i {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: rgba(255, 255, 255, 0.7);
  font-size: 2em;
}
/* line 1157, ../sass/screen.scss */
.popup_img_link:hover i {
  font-size: 2.5em;
  color: white;
}

/* line 1163, ../sass/screen.scss */
.popup_img {
  overflow: hidden;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 30000;
}
/* line 1173, ../sass/screen.scss */
.popup_img a {
  display: none;
}

/* line 1178, ../sass/screen.scss */
.btn_close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2.5em;
  background-color: #fff;
  cursor: pointer;
  z-index: 30001;
  border-radius: 20%;
  padding: 5px;
  color: #fff;
  background-color: white;
}

/* line 1191, ../sass/screen.scss */
.popup_inner_wrap {
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
}
/* line 1197, ../sass/screen.scss */
.popup_inner_wrap .popup_inner_img {
  display: block;
  margin: 0 auto;
  width: auto !important;
  height: 100% !important;
  max-height: 100% !important;
}

/* line 1214, ../sass/screen.scss */
#admin_wrap ul.nav-tabs {
  margin-top: 15px;
}
/* line 1216, ../sass/screen.scss */
#admin_wrap ul.nav-tabs li {
  display: block;
  float: left;
  width: 33.333%;
}
/* line 1220, ../sass/screen.scss */
#admin_wrap ul.nav-tabs li a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  color: #677676;
}

/* line 1229, ../sass/screen.scss */
#admin_view {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  padding: 40px 15px 20px 15px;
}

/* line 1235, ../sass/screen.scss */
.items_group {
  position: relative;
  border: 1px solid #CBD2D8;
  padding: 15px;
}
/* line 1239, ../sass/screen.scss */
.items_group > span {
  background-color: #f9f9f9;
  border: 1px solid #CBD2D8;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px;
  top: -20px;
  position: absolute;
  left: 20px;
  text-transform: uppercase;
}

/* line 1261, ../sass/screen.scss */
#admin_product p {
  text-align: center;
  font-size: 1.1em;
}
/* line 1266, ../sass/screen.scss */
#admin_product .items_group .selectDb {
  width: 120px;
  float: left;
  border: 1px solid #CBD2D8;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 0.35s;
  text-align: center;
}
/* line 1275, ../sass/screen.scss */
#admin_product .items_group .selectDb img {
  max-height: 70px;
  width: auto;
}
/* line 1280, ../sass/screen.scss */
#admin_product .items_group .selectDb label {
  cursor: pointer;
}
/* line 1283, ../sass/screen.scss */
#admin_product .items_group .selectDb input {
  width: 0;
  height: 0;
}
/* line 1287, ../sass/screen.scss */
#admin_product .items_group .selectDb:hover {
  background-color: #CBD2D8;
}
/* line 1289, ../sass/screen.scss */
#admin_product .items_group .selectDb:hover h2 {
  color: #fff;
}

/* line 1295, ../sass/screen.scss */
#admin_product_menu,
.admin_analitika_menu {
  margin-top: 40px;
}
/* line 1298, ../sass/screen.scss */
#admin_product_menu li,
.admin_analitika_menu li {
  float: left;
  padding: 10px 10px 5px;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  border: 1px solid transparent;
}
/* line 1306, ../sass/screen.scss */
#admin_product_menu li span,
.admin_analitika_menu li span {
  opacity: 0.5;
}

/* line 1309, ../sass/screen.scss */
.admin_product_menu_active,
.admin_analitika_menu_active {
  border: 1px solid #CBD2D8 !important;
  border-bottom: 1px solid transparent !important;
  box-shadow: 0 1px 0 #fff;
}
/* line 1314, ../sass/screen.scss */
.admin_product_menu_active span,
.admin_analitika_menu_active span {
  opacity: 1 !important;
}

/* line 1316, ../sass/screen.scss */
#admin_product_view {
  padding: 10px;
  border: 1px solid #CBD2D8;
}

/* line 1321, ../sass/screen.scss */
#admin_product_search .input_wrapper {
  padding: 10px;
}
/* line 1323, ../sass/screen.scss */
#admin_product_search .input_wrapper .input_item {
  position: relative;
  width: 29%;
  float: left;
  margin: 0 2%;
}
/* line 1328, ../sass/screen.scss */
#admin_product_search .input_wrapper .input_item input {
  padding-left: 35px;
  border-radius: 4px;
  font-size: 1em;
}
/* line 1333, ../sass/screen.scss */
#admin_product_search .input_wrapper .input_item i {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 1.2em;
}
/* line 1341, ../sass/screen.scss */
#admin_product_search .pagination_wrap {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 1346, ../sass/screen.scss */
#admin_product_search table thead {
  background-color: #ccc;
}

/* line 1352, ../sass/screen.scss */
.add_prod_item {
  position: relative;
  padding: 20px 10px;
  border: 2px solid #CBD2D8;
  margin-top: 30px;
}
/* line 1357, ../sass/screen.scss */
.add_prod_item > h2 {
  position: absolute;
  top: -15px;
  left: 20px;
  padding: 3px 5px;
  background-color: #CBD2D8;
  font-size: 1.1em !important;
  text-transform: uppercase;
  border-radius: 3px;
}

/* line 1373, ../sass/screen.scss */
#admin_add_sale textarea,
#admin_add_sale .check_wrap,
#admin_add_sale input {
  float: left;
}
/* line 1378, ../sass/screen.scss */
#admin_add_sale textarea {
  margin-top: 10px !important;
}
/* line 1382, ../sass/screen.scss */
#admin_add_sale .check_wrap label {
  cursor: pointer;
  margin: 0;
  width: 155px;
  background-color: #fff;
}
/* line 1388, ../sass/screen.scss */
#admin_add_sale .check_wrap i:before {
  color: #7EC670;
  opacity: 0;
}
/* line 1393, ../sass/screen.scss */
#admin_add_sale input {
  margin-left: 5px !important;
  padding: 2px 5px !important;
  width: 100px;
  height: auto;
  margin-top: 1px !important;
}

/* line 1403, ../sass/screen.scss */
#admin_add_colors .new_color_view {
  width: 100px;
  margin-left: 10px;
}
/* line 1407, ../sass/screen.scss */
#admin_add_colors .btn.btn-info {
  margin: 0 20px;
}
/* line 1410, ../sass/screen.scss */
#admin_add_colors label {
  display: block;
  margin: 3px;
}
/* line 1414, ../sass/screen.scss */
#admin_add_colors input,
#admin_add_colors button,
#admin_add_colors div {
  float: left;
}

/* line 1420, ../sass/screen.scss */
#new_colors_wrap {
  display: inline-block;
}

/* line 1423, ../sass/screen.scss */
.current_new_color {
  position: relative;
  float: left;
  width: 34px;
  height: 34px;
  margin-right: 40px;
  border-radius: 2px;
  border: 1px solid #CBD2D8;
  box-shadow: inset 1px 1px 1px #fff, inset -1px -1px 1px #fff;
}
/* line 1432, ../sass/screen.scss */
.current_new_color button {
  position: absolute;
  top: 0px;
  right: -18px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
/* line 1440, ../sass/screen.scss */
.current_new_color button:hover {
  background-color: transparent;
}

/* line 1446, ../sass/screen.scss */
#btn_add_new_product {
  text-align: center;
}
/* line 1448, ../sass/screen.scss */
#btn_add_new_product button {
  font-size: 1.3em;
  padding: 5px 15px;
}
/* line 1452, ../sass/screen.scss */
#btn_add_new_product input {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 100%;
}
/* line 1457, ../sass/screen.scss */
#btn_add_new_product input:first-child {
  color: #FF7777;
}
/* line 1460, ../sass/screen.scss */
#btn_add_new_product input:last-child {
  color: #7EC670;
  font-weight: bold;
}
/* line 1464, ../sass/screen.scss */
#btn_add_new_product input:hover {
  box-shadow: none;
}

/* line 1470, ../sass/screen.scss */
#select_images_wrap {
  border: 1px solid #CBD2D8;
  padding: 15px 35px;
  text-align: center;
}
/* line 1474, ../sass/screen.scss */
#select_images_wrap button {
  font-size: 1.3em;
  padding: 5px 15px;
}
/* line 1478, ../sass/screen.scss */
#select_images_wrap h2 {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 1482, ../sass/screen.scss */
#select_images_wrap .img_wrap {
  position: relative;
  background-color: #fff;
  height: 100px;
  border: 1px solid #CBD2D8;
  text-align: center;
}
/* line 1488, ../sass/screen.scss */
#select_images_wrap .img_wrap h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
/* line 1497, ../sass/screen.scss */
#select_images_wrap .img_wrap img {
  width: auto;
  height: 99px;
}
/* line 1502, ../sass/screen.scss */
#select_images_wrap .img_wrap .btn_add_imgSlide {
  padding: 2px;
  cursor: pointer;
  border: 1px solid #CBD2D8;
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0.6;
}
/* line 1513, ../sass/screen.scss */
#select_images_wrap .img_wrap .btn_add_imgSlide:hover {
  opacity: 1;
}
/* line 1516, ../sass/screen.scss */
#select_images_wrap .img_wrap > i {
  font-size: 3em;
  color: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 1526, ../sass/screen.scss */
#select_images_wrap .image_item_wrap {
  text-align: center;
  padding: 5px;
  padding-bottom: 30px;
  border: 1px solid #CBD2D8;
}
/* line 1532, ../sass/screen.scss */
#select_images_wrap h4 {
  padding: 3px 5px;
  display: inline-block;
  border: 1px solid #CBD2D8;
  border-bottom: none;
}

/* line 1548, ../sass/screen.scss */
#admin_users thead {
  background-color: #ccc;
}
/* line 1552, ../sass/screen.scss */
#admin_users .list_users table {
  margin-top: 15px;
  width: 100% !important;
}

/* line 1559, ../sass/screen.scss */
#current_user table {
  width: 100%;
  margin: 10px 0;
}
/* line 1563, ../sass/screen.scss */
#current_user h4 {
  text-align: center;
}
/* line 1566, ../sass/screen.scss */
#current_user td {
  text-align: center;
  position: relative;
}
/* line 1569, ../sass/screen.scss */
#current_user td button {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 1575, ../sass/screen.scss */
#current_user label {
  display: block;
  text-align: center;
  margin: 15px auto;
}
/* line 1584, ../sass/screen.scss */
#current_user .img_wrap {
  border: 1px solid #CBD2D8;
  position: relative;
}
/* line 1588, ../sass/screen.scss */
#current_user .img_wrap img {
  width: 100%;
  height: auto;
}
/* line 1592, ../sass/screen.scss */
#current_user .img_wrap button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 3px;
  right: 3px;
}
/* line 1600, ../sass/screen.scss */
#current_user .img_wrap button i {
  font-size: 2em;
  color: rgba(0, 0, 0, 0.5);
}
/* line 1604, ../sass/screen.scss */
#current_user .img_wrap button:hover {
  box-shadow: none;
}
/* line 1606, ../sass/screen.scss */
#current_user .img_wrap button:hover i {
  font-size: 2em;
  color: rgba(0, 0, 0, 0.9);
}
/* line 1614, ../sass/screen.scss */
#current_user .user_comments {
  position: relative;
}
/* line 1616, ../sass/screen.scss */
#current_user .user_comments button {
  position: absolute;
  top: 2px;
  right: 2px;
}

/* line 1632, ../sass/screen.scss */
#admin_analitika > ul > li {
  padding: 15px 50px;
}
/* line 1634, ../sass/screen.scss */
#admin_analitika > ul > li span {
  font-size: 1.3em;
}
/* line 1638, ../sass/screen.scss */
#admin_analitika h2 {
  font-size: 1.3em;
  text-align: center;
  margin: 30px 0;
  font-weight: bold;
}
/* line 1643, ../sass/screen.scss */
#admin_analitika h2 span {
  font-weight: normal;
  font-size: 0.9em;
}
/* line 1650, ../sass/screen.scss */
#admin_analitika .analitika_view {
  padding: 10px;
  border: 1px solid #CBD2D8;
}

/* line 1655, ../sass/screen.scss */
.admin_analitika_menu {
  margin-top: 0 !important;
}

/* line 1661, ../sass/screen.scss */
.grafik_wrap {
  position: relative;
  margin-left: 25px;
}
/* line 1665, ../sass/screen.scss */
.grafik_wrap > span {
  position: absolute;
  left: -110px;
  top: 20%;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
/* line 1672, ../sass/screen.scss */
.grafik_wrap table {
  width: 100%;
}
/* line 1674, ../sass/screen.scss */
.grafik_wrap table td {
  text-align: center;
}
/* line 1678, ../sass/screen.scss */
.grafik_wrap .grafik {
  border-left: 2px solid #686B6E;
  width: 100%;
}
/* line 1681, ../sass/screen.scss */
.grafik_wrap .grafik td {
  height: 320px;
  padding-top: 20px;
  border-bottom: 2px solid #686B6E;
}
/* line 1685, ../sass/screen.scss */
.grafik_wrap .grafik td:first-child {
  position: relative;
}
/* line 1687, ../sass/screen.scss */
.grafik_wrap .grafik td:first-child:after {
  content: "";
  z-index: 1000;
  display: block;
  position: absolute;
  top: -23px;
  left: -5px;
  border: 5px solid transparent;
  border-bottom: 20px solid #686B6E;
}
/* line 1698, ../sass/screen.scss */
.grafik_wrap .grafik td:last-child {
  position: relative;
}
/* line 1700, ../sass/screen.scss */
.grafik_wrap .grafik td:last-child:before {
  content: "";
  z-index: 1000;
  display: block;
  position: absolute;
  bottom: -6px;
  right: -14px;
  border: 5px solid transparent;
  border-left: 20px solid #686B6E;
}

/* line 1718, ../sass/screen.scss */
.name_month_wrap h3 {
  cursor: pointer;
  border-radius: 0;
  float: left;
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.2em;
  transition: 0.3s;
  opacity: 0.6;
}
/* line 1728, ../sass/screen.scss */
.name_month_wrap h3:hover {
  opacity: 1;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

/* line 1737, ../sass/screen.scss */
.grafik_item_wrap {
  position: relative;
}
/* line 1739, ../sass/screen.scss */
.grafik_item_wrap .admin_analitika_visits,
.grafik_item_wrap .admin_analitika_uniq_visits {
  position: absolute;
  bottom: 0;
  padding: 5px;
  border: 1px solid #CBD2D8;
}
/* line 1746, ../sass/screen.scss */
.grafik_item_wrap .admin_analitika_visits {
  background-color: #A5ED97;
  right: 50%;
  color: #3E3E3E;
}
/* line 1751, ../sass/screen.scss */
.grafik_item_wrap .admin_analitika_uniq_visits {
  background-color: #2C902C;
  left: 50%;
  color: #fff;
}

/* line 1760, ../sass/screen.scss */
.view_current_month > h2 {
  margin: 30px 0 40px;
}
/* line 1765, ../sass/screen.scss */
.view_current_month table td div {
  border-radius: 20%;
  font-size: 0.5em;
  padding: 0;
  transition: 0.3s;
}
/* line 1770, ../sass/screen.scss */
.view_current_month table td div:hover {
  z-index: 1001;
  -webkit-transform: scale(3, 3);
  transform: scale(3, 3);
}

/* line 1781, ../sass/screen.scss */
.date_grafic {
  padding-top: 10px;
  opacity: 0.6;
  font-size: 1.2em;
  transition: 0.3s;
}

/* line 1787, ../sass/screen.scss */
.date_grafic_active {
  opacity: 1;
  -webkit-transform: scale(1.7, 1.7);
  transform: scale(1.7, 1.7);
}

/* line 1793, ../sass/screen.scss */
.grafic_gorizontal_descrip {
  width: auto !important;
  margin: 20px auto;
  vertical-align: middle;
}
/* line 1797, ../sass/screen.scss */
.grafic_gorizontal_descrip tbody tr td {
  text-align: left !important;
  padding: 10px 0;
}
/* line 1800, ../sass/screen.scss */
.grafic_gorizontal_descrip tbody tr td:nth-child(2) {
  padding-left: 5px;
  font-size: 1.2em;
}
/* line 1805, ../sass/screen.scss */
.grafic_gorizontal_descrip .descr_visits,
.grafic_gorizontal_descrip .descr_visits_uniq {
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid #CBD2D8;
  background-color: #000;
}
/* line 1813, ../sass/screen.scss */
.grafic_gorizontal_descrip .descr_visits {
  background-color: #A5ED97;
}
/* line 1814, ../sass/screen.scss */
.grafic_gorizontal_descrip .descr_visits_uniq {
  background-color: #2C902C;
}

/* line 1823, ../sass/screen.scss */
.check_sale:before {
  opacity: 1 !important;
}

/* line 1824, ../sass/screen.scss */
.valid_input {
  box-shadow: inset 0 -2px 0 #7EC670;
}

/* line 1825, ../sass/screen.scss */
.invalid_input {
  box-shadow: inset 0 -2px 0 #FF7777;
}

/* line 1826, ../sass/screen.scss */
.img_empty {
  border: 1px solid #FF7777 !important;
}

/* line 1827, ../sass/screen.scss */
.selectDb_active {
  background-color: #686B6E !important;
}
/* line 1829, ../sass/screen.scss */
.selectDb_active h2 {
  color: #fff !important;
}

/* line 1831, ../sass/screen.scss */
.view_hide {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  z-index: -100000 !important;
  width: 0px !important;
  height: 0px !important;
  overflow: hidden !important;
}

/* line 1841, ../sass/screen.scss */
.message_success {
  color: #FF7777;
}

/* line 1844, ../sass/screen.scss */
.message_err {
  color: #2C902C;
}

/* line 1852, ../sass/screen.scss */
#addgotovii {
  position: fixed;
  top: 200px;
  left: 0;
}

/* line 1857, ../sass/screen.scss */
.work_btn {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

/* line 1863, ../sass/screen.scss */
.work_btn_login {
  position: fixed;
  top: 50px;
  left: 0;
  font-size: 0.5em;
  margin-top: 7px !important;
  z-index: 5000;
  background-color: #fff;
}
/* line 1869, ../sass/screen.scss */
.work_btn_login span {
  font-size: 1em;
  font-weight: bold;
}

/* line 1874, ../sass/screen.scss */
.work_btn {
  position: fixed;
  top: 100px;
  left: 0;
  font-size: 1em;
  margin-top: 7px !important;
  z-index: 15000;
}
/* line 1880, ../sass/screen.scss */
.work_btn span {
  font-size: 1em;
  font-weight: bold;
}
/* line 1882, ../sass/screen.scss */
.work_btn button {
  margin-bottom: 10px;
}
/* line 1884, ../sass/screen.scss */
.work_btn button:hover {
  transform: translateX(20px) scale(2, 2);
}
