<h1>infoproect</h1>
Важный момент - проект писался для презентации поэтому многие вещи не применимы в реальном проекте - рейтинг один раз и пр.			
все модели находятся в контроллерах, в контроллерах происходят только манипуляции с представлениями, вся логика перенесена в сервисы. каждый контроллер иммет свой сервис.  каждый контроллер имеет свой сервис т.к. методы повторно не используются. 
много плагинов чтобы поэксперементировать
работал с монголаб - чтобы пороботатью глючный
модели находятся в контроллерах, чтобы не прыгатьпом файла а просто просркролить вверх
много работы было на панели админа

много кода писалось для возможного расширения, например слайдеры !!! если в бд добавить новые свойства, то на клиенте не надо ничего переделывать!!!!!!!!!!!!!!!
монго лаб работает не стабильно иногда запросы обрабатываются очень долго(бесплатное)
повторное использование метода - отправляется через рут скоуп обьект и метод используется
монго лаб работает неставильно!!!!!

рейтинг пользователь может ставить только один раз(сделано для усложнения реализации, на практике другие подходы)

монго лаб работает по разному бывает очень долго поэтому везде добавлен бг спинер что бы пользователь понимал что идет обработка данных

нет привязки комментариев, т.к. комментарии к продуктам и пользователям добавлялась случайно, будет только если вы будете оставлять их

знаю что аналитика с погрешностями

графики сделаны не готовыми решениями