
<div id="goods_sale">
<!-- carousel -->
	<!-- {{data.carouselSale[0]}} -->
	<ul rn-carousel class="image" rn-carousel-easing = "easeInOutQuad"  rn-carousel-duration = "2000" rn-carousel-controls rn-carousel-auto-slide = "5" rn-carousel-controls-allow-loop>
		<li ng-repeat="items in data.carouselSale">
			<div class="layer">
			adfasdf
				<img ng-src="../img/big_img/laptop/573953d07acf7a7c1e8794e1/bigImg.png" alt="">
			</div>
		</li>
	</ul>
	<!-- <div rn-carousel-indicators ng-if="data.carouselSale.length > 1" slides="data.carouselSale"  rn-carousel-index="carouselIndex"></div> -->
<!-- ng-class = "(goodsBar.sale)? 'bar_page_animate' : '' " -->
<!-- 	<h1 >carousel</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi dolorum, temporibus veritatis ipsa voluptatem eos sit eveniet, architecto nisi soluta quis cumque praesentium eligendi, sed aspernatur velit est! Possimus non debitis expedita officia necessitatibus sunt porro voluptatem facilis aut magnam reiciendis architecto similique animi ipsam, cupiditate magni iste distinctio consequuntur quia quis amet dolorem saepe id! Earum suscipit, doloremque assumenda maxime quo similique deserunt possimus nostrum eveniet? Sequi assumenda veniam consequuntur eveniet animi, quidem eaque necessitatibus voluptas ex, nulla et pariatur veritatis odit alias ea repellat commodi quisquam perferendis ipsum soluta repudiandae ut harum voluptate. Veritatis, voluptatem aut voluptatibus cupiditate!</p>
 -->

</div>
