<div id="search_wrapper" ng-controller = "productsSearchCtrl">

	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="search_wrap search_item">
				<span>Поиск по названию</span>
				<input type="text" ng-model = "data.search.searchBrend" placeholder="бренд">
				<input type="text" ng-model = "data.search.searchModel" placeholder="модель">
			</div>

			<div class="check_wrap search_item">
				<span>Поиск по брендам</span>
				<label ng-repeat = "(key, value) in data.brendsThisProducts" ng-click = "toggleCheckBox(key)" >
					<i class="fa fa-check" ng-class = "(data.brendsThisProducts[key])? '' : 'check_hide'"></i>
					<h2 class="unselectable">{{key}}</h2>
				</label><br>
				<button ng-click = "checkAllBrends()">Выделить все бренды</button>
				<button ng-click = "clearCheckAllBrends()">Сброс</button>
			</div>

			<div class="search_item">
				<span>показать только акционные предложения</span>
				<label ng-click="inspectSale()">
					<!-- <i class="fa fa-check" ng-class = "(data.brendsThisProducts[key])? '' : 'check_hide'"></i> -->
					<h2 class="unselectable">акция</h2>
					<input type="checkbox" ng-model = "data.productsWithSale" >
				</label>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-8">
			<div class="slider_wrap search_item row">
				<span>Поиск по характеристикам</span>
				<div class="col-xs-12 col-sm-6 " ng-repeat="slider in data.slidersView">
					<div class="slider_item">
						<span>{{slider.rusName}}</span>
						<div><rzslider rz-slider-model="slider.min" rz-slider-high="slider.max"	rz-slider-options="slider.options"></rzslider></div>
					</div>
				</div>
			</div>
		</div>
	</div>



	
	



	

</div>

