<div id="search_wrapper" ng-controller = "productsSearchCtrl">

	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="check_wrap search_item">
				<span>Поиск по бренду</span>
				

				<label class="checkbox_custom" ng-repeat = "(key, value) in data.brendsThisProducts" ng-click = "toggleCheckBox(key)" >
					<i class="fa fa-check" ng-class = "(data.brendsThisProducts[key])? '' : 'check_hide'"></i>
					<h2 class="unselectable">{{key}}</h2>
				</label><br>


				<label id="toggleAllBrands" class="checkbox_custom" ng-click = "toggleAllBrends()" >
					<i class="fa fa-check" ng-class = "(!showAllBrends)? '' : 'check_hide'"></i>
					<h2 class="unselectable">выбрать все бренды</h2>
				</label><br>

			</div>
			<div class="search_wrap search_item">
				<span>Поиск по модели</span>
				<input type="text" ng-model = "data.search.searchModel" ng-keyup = "testEmptyBrends()" placeholder="модель">
			</div>

			

			<div class="search_item">
				<span>Акция</span>
				<label class="checkbox_custom" ng-click="toggleSale()">
					<i class="fa fa-check" ng-class = "(data.productsWithSale)? '' : 'check_hide'"></i>
					<h2 class="unselectable">только акционные товары</h2>
				</label>
			</div>
			
		</div>
		
		<div class="col-xs-12 col-sm-8">
			<div class="slider_wrap search_item row">
				<span>Поиск по характеристикам</span>
				<div class="col-xs-12 col-sm-6 " ng-repeat="slider in data.slidersView">
					<div class="slider_item">
						<span>{{slider.rusName}}</span>
						<div><rzslider rz-slider-model="slider.min" rz-slider-high="slider.max"	rz-slider-options="slider.options"></rzslider></div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div ng-show = "view_mainList" id="filters_wrap" class="clearfloat">
		<span>Сортировать список</span>
		<button id="orderBySearchRaiting" class="orderBy_active" ng-click="orderBy('raiting')">Рейтинг
			<i class="fa fa-sort-desc" aria-hidden="true"></i>
		</button>
		<button id="orderBySearchPrice" ng-click="orderBy('price')">Цена
			<i class="fa fa-sort-desc" aria-hidden="true"></i>
		</button>
		
	
	</div>
	
	

</div>

