<div ng-controller = "productsMainCtrl">
	<div id="choice_wrap">
		<ul id="select_product" class="clearfloat">
			<li>
				<a href="#/products/laptop" ng-click = "toggleProducts('laptop',$event)" ng-class ="(data.activeItems.currentProducts === 'laptop')? 'current_products' : ''">
					<img src="../../img/admin/laptop.png" alt=""><br>
					</i><span>ноутбуки</span>
				</a>
			</li>
			<li>
				<a href="#/products/tablet" ng-click = "toggleProducts('tablet',$event)" ng-class ="(data.activeItems.currentProducts === 'tablet')? 'current_products' : ''">
					<img src="../../img/admin/tablet.png" alt=""><br>
					<span>планшеты</span>
				</a>
			</li>
			
		</ul>

		<div id="select_bar">
			<ul>
				<li>
					<a href="#"  class="nav_bar" ng-click ="toggleBar('sale', $event)" ng-class = "(data.activeItems.productsBar === 'sale')? 'bar_item_active' : ''">
						<i class="fa fa-list" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a href="#"  class="nav_bar" ng-click ="toggleBar('search', $event)" ng-class = "(data.activeItems.productsBar === 'search')? 'bar_item_active' : ''">
						<i class="fa fa-search"></i>
					</a>
				</li>
				<li id="bar_compare" ng-show = "data.compareProducts[0]">
					<a href="#"  class="nav_bar" ng-click ="toggleBar('compare', $event)" ng-class = "(data.activeItems.productsBar === 'compare')? 'bar_item_active' : ''">
						<i class="fa fa-balance-scale"></i>
						<span  id="animate_number_compare">{{data.compareProducts.length}}</span>
					</a>
				</li>
				<li ng-show = "data.currentProductInfo">
					<a href="#"  class="nav_bar" ng-click ="toggleBar('info', $event)" ng-class = "(data.activeItems.productsBar === 'info')? 'bar_item_active' : ''">
						<i class="fa fa-info"></i>
					</a>
				</li>
			</ul>
			
			<div class="bar_page_wrap">
				<div ng-include = "data.url.bar" class="bar_page_animate"></div>
			</div>
		</div>

	</div>

	<div id="list_wrap" ng-show = "data.activeItems.mainList">
		
		<div ng-hide = "data.activeItems.productsBar === 'search'" class="pagination_wrap clearfloat">
			<pagination amountPages="{{data.amountPages}}"><pagination>	
		</div>

		<div class="row">
			<div class="col-xs-6 col-md-3 col_custom" ng-repeat="product in view_mainList |  filter : {model : data.search.searchModel} | orderBy : data.orderByListFromSearch.nameProp">
				<div class="products_item">
					<div class="img_wrap">
						<img ng-src="../img/products/small/{{product.kind}}/{{product.img.small}}" alt="img">
						<popup-img id-img = {{product.img.big}} kind-product = {{product.kind}} title="увеличить изображение"></popup-img>	
					</div>
					<h2>
						<span>{{product.brand}}</span><br>{{product.model}}						
					</h2>
					<ul class="colours_wrap">
						<li ng-repeat = "colour in product.colours" style = "background-color : {{colour}}"></li>
					</ul>
				
					<span ng-show = "product.sale.bool" class="sale">акция</span>

					<div class="description clearfloat">
						<div class="star_comment_wrap">
							<div class="star_reiting_wrap">
								<star-reiting  set-reiting = "{{product.raiting.val}}" id-product = "{{product._id}}" kind-product = "{{product.kind}}"></star-reiting>
								<span ng-class ="(rootUser.objRaiting[product._id])? 'raiting_prev_session' : '' ">{{product.raiting.val}}</span> 
							</div><br>
							<span>{{product.comments.summ}} комментариев</span>	
						</div>
						<span>{{product.price}} грн.</span>
					</div>
					
					
					<div class="btn_wrap clearfloat">
						<button class="btn_compare" ng-class = "(data.checkedButtonsCompare[product._id])? 'btn_checked' : '' "	title="добавить к сравнению" ng-click = "addCompare(product)">
							<i class="fa fa-balance-scale"></i>
							<i class="fa fa-check" aria-hidden="true" ></i>
						</button>
						<button class="btn_info"	title="подробная информация" ng-click = "showInfo(product)"><i class="fa fa-info"></i></button>
						<button  class="btn_basket" ng-class = "(data.checkedButtonsBasket[product._id])? 'btn_checked' : '' " 	title="добавить в корзину" ng-click = 'toggleProductBasket(product)'>
							В корзину
							<i class="fa fa-shopping-basket"></i>
							<i class="fa fa-check-circle-o" aria-hidden="true" ></i>
						</button>
					</div>
					
						
				</div>
			</div>
		</div>


		<!-- <div class="work_btn">
			<button ng-click="addProductsDB()">add products</button>		
		</div>  -->
	</div>

</div>



