/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass/reset";

$bodybg:#f9f9f9;
$bgl:#677676; //light
$bg:#aab7c0; // norm
$bgd:#677676; //dark
$textl: #fff; //light
$textd: #3E3E3E; //dark

$border: #CBD2D8;
$borderd: #686B6E;

$danger: #FF7777;
$dangerd:#FF2C2C;
$btn: #ecead4;//norm
$btnh: #CDCBB5;//hover
$bgHeader:#677676;

$successl:#A5ED97;
$success:#7EC670;
$successd:#2C902C;


//ХОВЕР ЛИНЕЙНЫЕ ГРАДИЕНТЫ!!!!!!!!!!!!!!!!!!!!!!!!!



	//GENERAL OPTIONS 
// #=============================================
	body {
		font-size: 16px;
		color: $textd;
		background-color: $bodybg;
		@media (max-width:992px) {
			font-size: 14px;
		}
		@media (max-width:768px) {
			font-size: 12px;
		}
		@media (max-width:500px) {
			font-size: 10px;
		}
	}
	.clearfloat:after, 
	.clearfloat:before {
		content:"";
		display: table;
		clear:both;
	}
	.container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	a,
	a:hover,
	a:focus {
		color: $textl;
		text-decoration: none;
	}
	button,
	.btn_custom {
		background-color: $btn;
		padding: 2px 5px;
		border-radius: 2px;
		border: 1px solid $border;
		transition:0.2s;
		&:hover {
			background-color: $btnh;
			box-shadow: 1px 1px 3px $border, -1px -1px 3px $border; 
		}
	}
	input,
	button {
		&:focus {
			outline: none;
		}
	}
	input {
		border: 1px solid $border;
		padding: 3px 4px;
		margin: 5px;
		border-radius: 3px;
		&:hover,
		&:focus {
			box-shadow: inset 1px 1px 5px $border, inset -1px -1px 5px $border;
		}
	}
	.unselectable {
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}
	.message_box {
		border: none;
		background-color: transparent;
		color:$dangerd;
		font-size: 0.8em;
		width: 100%;
		text-align: center;
		padding: 0;
		margin: 0;
		&:hover {
			box-shadow: none;
		}
	}
	form {
		background-color: #fff;
		padding: 5px;
		border-radius: 3px;
		border: 1px solid $border;
	}
	
// #=============================================
	//GENERAL OPTIONS 

		//web assistant
// #=============================================
	web-assistant {
		display: none;
		position: fixed;
		bottom: -10px;
		right: -10px;
		z-index: 35000;
		>div {
			
			position: relative;
		}
	}
	.assistant_img {
		
		width: auto;
		height: 120px;
		transition:0.5s;
		opacity: 0;
	}
	.assistant_message {
		position: absolute;
		bottom: 90%;
		right: 90%;
		width: 180px;
		height: 90px;
		background-color:	$bgd;
		color: $textl;
		padding: 10px;
		transition:0.5s;
		text-align: center;
		vertical-align: middle;
		opacity: 0;
		border: 1px solid $border;
		z-index:2;
		&:after {
			position: absolute;
			bottom: -30px;
			right: 10px;
			content: "";
			display: block;
			border: 20px solid transparent;
			border-top: 20px solid $bgd;
			border-right: 20px solid $bgd;
			z-index:1;
		}
	}
	.assistant_active {
		opacity: 1;
		z-index: 35000;
	}
// #=============================================
		//web assistant


#bg_spinner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 30000;
	background-color: rgba(255,255,255,0.7);
	.socket_message,
	i {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform:translate(-50%,-50%);
		transform:translate(-50%,-50%);
		
	}
	.socket_message {
		border: 1px solid $border;
		font-size: 1.2em;
		line-height: 1.7em;
		text-align: center;
		font-style: italic;
	}
	i {
		color: rgba(0,0,0,.7);
		font-size: 5em!important;
	}
}



//preloader	
	#preloader {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #fff;
		z-index:10000;
		i {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform:translate(-50%,-50%);
			transform:translate(-50%,-50%);
			color: $bgd;
		}
	}
//preloader


//description for controller
	#btn_descriptionController {
		position: fixed;
		bottom: 25px;
		left: 5px;
		background-color: rgba(0,0,0,.8);
		transition: 0.3s;
		color: #ccc;
		z-index:10000;	
		
		&:hover {
			background-color: rgba(124,124,124,.8);
			color: #000;
		}
	}
	.btn_descripCtrl_active {
		-webkit-transform : translate(20px, -20px) scale(1.3,1.3);
		transform : translate(20px, -20px) scale(1.3,1.3)
	}

.ctrl_descr {
	
	position: fixed;
	bottom: 0;
	// bottom: -100%;
	left: 0;
		// right: -100%;
	width: 100%;
	height:  25%;
	padding: 15px 35px;
	background-color: rgba(20,20,20,1);
	border: 1px solid $border;
	z-index:5000;
	transition : 0.3s;
	overflow:auto;
	color: #ccc;
	button {
		position: absolute;
		right: 3px;
		top: 0;
		margin: 10px;
		color: #888;
		i:before {
			color: rgba(20,20,20,1);
		}
	}
}
.ng-hide-add, .ng-hide-remove {
   display: block !important;
}


.ctrl_descr.ng-hide {
   height:0;
}



	
	
	

	//header BEGIN
// #================================================
	header {
		background-color: $bgHeader;
	}
	#logo {
		float: left;
		a {
			display: block;
			padding: 10px;
			font-size: 2em;
			color: #fff;
			text-transform: uppercase;
			padding: 7px 40px 7px 20px;
		}
	}
	nav {
		float: left;
		ul {
			li {
				float: left;
				padding: 10px;
				a {
					display: block;
					font-size: 1em;
					text-align: center;
					border-bottom: 2px solid transparent;
					&:hover {
						border-bottom: 2px solid $textl;
					}				
				}
				&:last-child {
					font-size: 1em;
					margin-left: 15px;
				}
			}
		}
	}
	.nav_active {
		border-bottom: 2px solid $textl;
	}
	//autentif Begin
	#autentif_wrap {
		float: right;
		padding: 10px;
		position: relative;
		text-align: center;
	}
	#userLogin,
	#log_in,
	#avatar_img_wrap,
	#basket,
	#log_out {
		float: left;
	}
	#user_product_basket {
		position: absolute;
		top: 100%;
		right: 0;
		background-color: #fff;
		z-index:100;
		padding: 3px;
		border: 1px solid $border;
	}
	#avatar_img_wrap {
		width: 30px;
		height: 30px;
		img {
			display: block;
			margin: auto;
			height: 100%;
			width: auto;
		}
	}
	
	// login/registr forms
	#login_main {
		position: fixed;
		top: 50%;
		left: 50%;
		-webkit-transform:translate(-50%, -50%);
		transform:translate(-50%, -50%);
		z-index:1000;
		background-color: #fff;
		padding: 20px;
		height: 430px;
		width: 500px;
		border: 3px solid $bg;
		>ul {
			li {
				position: relative;
				top: 1px;
				margin-right: 5px;
				padding: 5px 10px;
				float: left;
				cursor: pointer;
				border: 1px solid $bg;
				border-bottom:  1px solid $bg; 
				font-size: 1.8em;
				background-color: #fff
				span {
					opacity: 0.5;
				}
			}
		}
		form {
			padding: 30px 20px;
			border: 1px solid $bg;
			border-radius: 0;
			background-color: #fff;
			input {
				width: 200px;
				&:focus {
					border-color : $border;
				}
			}
		}
		.btn_close_login {
			position: absolute;
			top: 5px;
			right: 5px;
			padding: 4px;
			font-size: 2em;
		}
	}
	.tab_login_active {
		border: 1px solid $bg!important;
		border-bottom:  1px solid #fff!important;
		span {
			opacity: 1!important;
		}
	}
	// #btn_log_in {
	// 	position: relative;
	// 	i.fa-spinner {
	// 		position: absolute;
	// 		top: 0;
	// 		right: 100%;
	// 	}
	// }
	#login_form {
		input,
		button {
			margin: 10px auto;
		}
		input[type="checkbox"] {
			width: auto;
		}
		button {
			padding: 5px 10px;
			font-size: 1.3em;
		}

	}
	#registr_form {
		label {
			margin-bottom: 20px;
			position: relative;
			input {
				margin: 0;
			}
			input.ng-invalid {
				box-shadow: inset -2px 0 0 $danger;
				
			}
			input.ng-valid {
				box-shadow: inset -2px 0 0 $success;
			}
			>span {
				position: absolute;
				bottom: 100%;
				left: 0;
			}
		}
		input[type=submit] {
			@extend .btn_custom;
			&:hover {
				background-color: $btn;
				box-shadow: none;  
			}
			padding: 10px;
			font-size: 1.2em;
		}
	}
	#select_avatar {
		text-align: center;
		.img_wrap {
			border: 1px solid $border;
			overflow: hidden;
			height: 197px;
			// line-height: 200px;
			text-align: center;
			position: relative;
			div {
				display: inline;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform:translate(-50%, -50%);
							transform:translate(-50%, -50%);
				cursor: pointer;
				i {
					transition:0.3s;
					font-size: 2em;
					color: rgba(0,0,0,.2)

				}
				&:hover {
					i {
						color: rgba(0,0,0,.6)
					}		
				}	
			}
			img {
				width: auto;
				height: 100%;
				
				// vertical-align: middle;
			}
		}	
	}
	
	//registr end
// #================================================	
	//header END



//main_content 
	#choice_wrap {position: relative;}
//main_content 



	//PRODUCTS NAVIGATION (LAPTOP TABLET) BEGIN
// #================================================
	#select_product {
		margin-left: 60px;
		margin-top: 10px;
		>li {
			float: left;
			width: 20%;
			// padding:0 20%;
			text-align: center;			
			&:not(:last-child) {border-right: none}
			// &:first-child {margin-left: 25%}
			// &:last-child {margin-right: 25%}
			a {
				transition:0.2s;
				// display: inline-block;
				text-transform: uppercase;
				// opacity: 0.35;
				color: $textd;
				display: block;
				padding: 10px 0;
				// padding-bottom: 10px;
				border: 1px solid $bodybg;
				// margin: 0 30px;
				>img {
					width: auto;
					height: 50px;

				}
				i {
					font-size: 1.2em;
				}
				&:hover {
					background-color: $bgl;
					color: $textl;
				}
			}
		}
		//bottom triangle ACTIVE ITEM
		.current_products {
			position: relative;
			background-color: $bgl;
			opacity: 1!important;
			color: #fff;
			span {
				border-right: 1px solid transparent!important;
			}
			//triangle
			&:before {
				position: absolute;
				top: 100%;
				left: 50%;
				-webkit-transform:translateX(-50%);
				transform:translateX(-50%);
				content: '';
				display: block;
				border: 20px solid transparent;	
				border-top: 20px solid  $bgl;
			}
		}
	}

// #================================================
	//PRODUCTS NAVIGATION (LAPTOP TABLET) END



	//PRODUCTS left vertical bar BEGIN
// #================================================
	#select_bar {
		position: relative;
		margin-top: 20px;
		>ul  {
			position: absolute;
			top: 0;
			left: 0;
			width: 60px;
			height: 100%;
			z-index:2;
			border-bottom: 3px solid $bgl;
			a {
				transition:0.2s;
				position: relative;
				display: block;
				width: 40px;
				height: 40px;
				border: 1px solid $bodybg;
				font-size: 1.6em;
				text-align: center;
				line-height: 40px;
				color: $textd;
				// opacity: 0.35;
				color: $textd;
				i{
					z-index:2;
				}
				//triangle /hide/
		  		&:before {
					content: '';
					display: block;
					position: absolute;
					top: -1px;
					left: 100%;
					border: 20px solid transparent;
					border-left: 20px solid  $bgl;
					-webkit-transform-origin: left;
					transform-origin: left;
					transform:rotateY(90deg);
					-webkit-transform:rotateY(90deg);
				}
				&:hover {
					background-color: $bgl;
					i {
						color: $textl;
					}
					&:before {
						border-left: 20px solid $bgl;
					}
				}
			}
			li:not(:last-child) a {
				border-bottom: none;
			}
		}
	}
	// .nav_bar {
		
	// }
	.bar_item_active {
		background-color:  $bgl;
		opacity: 1!important;
		i {
			color: $textl;
		}
		&:before {
			transform:rotateY(0deg)!important;
			-webkit-transform:rotateY(0deg)!important;
		}
	}
	.bar_page_wrap {
		overflow: hidden;
		margin-left: 60px;
		border: 3px solid $bgl;
		border-bottom: none;
		min-height: 165px;
	}
	.bar_page_animate {
		-webkit-transform:translateX(0);
		transform:translateX(0);
	}
	.bar_page_animate.ng-enter {
		-webkit-transform:translateX(-100%);
		transform:translateX(-100%);
	}
	.bar_page_animate.ng-leave {
		display: none;		
	}
	.bar_page_animate.ng-leave.ng-leave-active {
		display: none;
	}
// #================================================
	//PRODUCTS left vertical bar END
	



	// MAIN LIST PRODUCTS BEGIN
// #================================================
	#list_wrap {
		padding: 20px;
		border: 3px solid $bgl;
		border-top:none;

		.col_custom {
			padding-right: 5px;
    		padding-left: 5px;
		}
	}
	.products_item {
		transition:0.3s;
		border: 1px solid $border;
		padding: 5px;
		margin-top: 10px;
		position: relative;
		.sale {
			position: absolute;
			top: 7px;
			left: 7px;
			padding: 3px;
			border-radius: 2px;
			background-color: $danger;
			color: #fff;
			cursor: pointer;
			transition:0.3s;
			&:hover {
				-webkit-transform:scale(1.2,1.2);
							transform:scale(1.2,1.2);
			} 
		}
		h2 {
			font-size: 1.1em;
			text-align: center;
			font-weight: bold;
			margin: 15px 0 40px;
			position: relative;
			span {
				text-transform: uppercase;
			}
			b {
				position: absolute;
				right: 0;
				bottom: 0;
				font-size: 1.4em;
				color: $textd;
			}
		}
		i{color: $textd}
		.star_reiting_wrap {
			position: absolute;
			bottom: 10px;
			left: 10px;
			star-reiting {
				display: inline-block;
				
			}
			span {
				position: absolute;
				right: -35%;
				top: -3%;
				font-size: 1.3em;
				font-weight: bold;
			}
			i {font-size: 1.2em}

		}
		.btn_basket {
			position: absolute;
			bottom: 10px;
			right: 10px;
			padding: 5px;
			font-size: 1.1em;
			i {font-size: 1.1em}
		}
		.img_wrap {
			margin: 15px;
			text-align: center;
			img {
				transition:0.3s;
				width: auto;
				height: auto;
				max-width: 100%;
				max-height : 130px;
			}
		}
		.btn_compare, 
		.btn_info {
			position: absolute;
			left: 5px;
			margin: 0;
			padding: 0;
			width: 40px;
			height: 40px;
			i {font-size: 1.5em}
		}
		.btn_compare {top:60px} 
		.btn_info {top:120px}

		&:hover {
			img {
				-webkit-transform:scale(1.05,1.05);
							transform:scale(1.05,1.05);
			}
			popup-img {
				i.fa-search-plus {
					opacity:1;
				}
			}
		}	
	}
	//compare and basket buttons
	.btn_compare,
	.btn_basket {
		i.fa-check-circle-o {
			display: none;
		}
	}
	.btn_checked {
		i.fa-check-circle-o {
			position: absolute;
			top: 50%;
			left: 50%;
			color: $successd;
			display: block;
			font-size: 2em;
			-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
		}
		i.fa-balance-scale,
		i.fa-shopping-basket {
			opacity:0.2;
		}
	}
// #================================================	
	// MAIN LIST PRODUCTS END




	//PRODUCTS SEARCH BEGIN
// #=========================================================	
	#search_wrapper {
		.slider_wrap {
			.slider_item {
				position: relative;
				border: 1px solid $border;
				padding: 0 5px;
				font-size: 1em;
				margin-top: 10px;
				>span {
					background-color: #fff;
					position: absolute;
					padding: 0 5px;
					top: -10px;
					right: 50%;
					-webkit-transform: translateX(50%);
					transform: translateX(50%);
				}
			}
			rzslider {
				.rz-pointer {
					background-color: $bgl;
					top: -8px;
					height: 19px;
					border-radius: 3px;
					&:after {
						display: none;
					}
				}
				.rz-bar {
					background: $bgl;
				}
				.rz-bar.rz-selection {
					background: #000;
				}
			}
		}		
	}
	// client, admin search
	.search_item {
		position: relative;
		margin: 25px 10px;
		padding: 10px;
		border: 1px solid $border;
		>span {
			border: 1px solid $borderd;
			position: absolute;
			padding: 0 3px;
			top: -10px;
			left: 10px;
			background-color: #fff;
		}
	}
	//checkbox
	.check_wrap {
		label {
			margin-top: 5px;
			margin-right: 5px;
			padding: 3px;
			border-radius: 2px;
			border: 1px solid $border;
			i {
				display: inline-block;
				border: 1px solid $border;
			}
			h2 {
				display: inline;
			}
			input {
				display: none;
			}
		}
	}
	.check_hide {
		&:before {
			opacity: 0;
		}
	}
// #=========================================================
	//PRODUCTS SEARCH END
		



	// PRODUCTS INFO BEGIN
// #=========================================================
	#product_info_wrap {
		padding: 15px;
		
		.star_reiting_wrap {
			text-align: center;
			star-reiting {
				display: inline-block;
				font-size: 1.5em;
				margin-bottom: 10px;
				
			}
		}
		>h2 {
			text-align: center;
			font-size: 2em;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		.info_bar {
			li {
				float: left;
				a {
					display: block;
					opacity: 0.5;
					color: $textd;
					padding: 5px 10px;
					font-size: 1.2em;
					border: 1px solid transparent;
					border-bottom: none;
					background-color: $bodybg;
				}
			}

		}
	}
	.info_active {
		z-index:1!important;
		opacity: 1!important;
		border: 1px solid $border!important;
		border-bottom: none!important;
		box-shadow: 0 1px 0 $bodybg!important;
	}
	#info_view {
		border: 1px solid $border;
		padding: 15px;
	}
	#info_sale_wrap {

	}
	#info_property_wrap {
		table {
			width: 100%;
			padding: 10px;
			tr {
				td:first-child {
					font-weight: bold;
					text-align: center; 
				}
			}
			td {
				border: 1px solid $border;
				padding: 3px 5px;
				
			}
		}
	}
	#colours_wrap {
		>div {
			float: left;
			margin: 2px 5px;
			width: 13px;
			height: 13px;
			border: 1px solid $borderd;
		}
	}
	#info_comments_wrap {

		.user_name {
			font-weight: bold;
		}
		.date {
			padding: 0 5px;
			font-style: italic;
		}
		.comment {

		}
	}
	#add_comment {
		position: relative;

		textarea {
			width: 100%;
			padding: 15px;
		}
		>span {
			position: absolute;
			color: $danger;
			
			top: 2px;
			right: 2px;
		}
	}
	
// #=========================================================
	// PRODUCTS INFO END





	
	// PRODUCTS COMPARE BEGIN
// #=========================================================
	#compare_wrapper {
		padding: 15px;
		table {
			width: 100%;
			.brand,
			.model {
				td{
					text-transform: uppercase;
					text-align: center;
					font-size: 1.1em;
					font-weight: bold;	
				}
				
			}
			.img_wrap {
				text-align: center;
			}
			td {
				padding: 3px 10px;
				border: 1px solid $border;
				&:first-child {
					font-weight: bold;
				}
			}
			td.btnSort_wrap {
				@extend .clearfloat;
				
				button {
					float: right;
					width: 20px;
					height: 20px;
					margin: 0 10px; 
					background-color: transparent;
					border: none;
					padding: 0;
					opacity: 0.5;
					
					i {
						font-size: 1.4em;
					}
					&:hover {
						background-color: transparent;
						box-shadow: none;
						opacity: 1;

					}
					&:first-child {right: 5px;}
					&:last-child {right: 44px}
				}

			}
			img {
				height: 50px;
				width: auto;
			}
		}
	}
	.max_value {
		color: $success;
	}
	.min_value {
		color: $danger;
	}
// #=========================================================
	// PRODUCTS COMPARE END






	//pagination BEGIN
//#=====================================
	.pagination_wrap {
		text-align: center;
	}
	#custom_pagination {
		text-align: center;
		a {
			margin: 0 2px;
			font-size: 1em;
			color: $textd;
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8) {
				border: 1px solid $border;
				cursor:pointer;
				width: 27px;

			}
			&:nth-child(3),
			&:nth-child(9) {
				pointer-events: none;
			}
			&:first-child,
			&:last-child {
				text-decoration: underline;
				cursor:pointer;
				width: 27px;
			}
			&:nth-child(2),
			&:nth-child(10) {
				cursor:pointer;
				i{
					font-weight: bold;
				}
			}
		}
	}
	.current_pag {
		background-color: $bgl;
	}
	.disabled_pag {
		opacity: 0;
		cursor:none;
		pointer-events: none;
	}
	.disabled_pag_ {
		width: 1px;
	}
//#=====================================
	//pagination END



// slider
	#goods_sale {
		ul {
			overflow: visible; 
		}
	}
// slider



	//starReiting BEGIN
//#=====================================
	.starReiting {
		li {
			float: left;
			a {
				i {
					color: $danger;
				}
			}
		}
	}
	// for product that raitings in previous session
	.raiting_prev_session {
		 color: $success;
		 font-weight: bold;
	}
	.fa_star_hover {
		color: $dangerd!important;
		&:before {
			content: "\f005"
		}
	}
	.fa_star_click {
		-webkit-transform:scale(1.1,1.1);
		transform:scale(1.1,1.1);
		color: $dangerd!important;
		&:before {
			content: "\f005"
		}
	}
//#=====================================	
	//starReiting END



	//popupImg BEGIN
//#=====================================
	popup-img {
		i.fa-search-plus {
			opacity:0;
		}
	}
	.toggle_small_img {
		-webkit-transition: 0.1s;
		transition: 0.1s;
		-webkit-transform: scale(1.025,1.025);
		transform: scale(1.05,1.05);
	}
	.popup_img_link {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform:translate(-50%,-50%);
		transform:translate(-50%,-50%);
		cursor: pointer;
		i {
			-webkit-transition:0.1s;
			transition:0.1s;
			color: rgba(255,255,255, .7);
			font-size: 2em;
		}
		&:hover {
			i{
				font-size: 2.5em;
				color: rgba(255,255,255, 1);
			}
		}
	}
	.popup_img {
		overflow: hidden;
		position: fixed;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		border-radius: 5px;
		background-color: rgba(0, 0, 0, .9);
		z-index:30000;
		a {
			display: none
		}
	}
	//for popup and login
	.btn_close {
		position: absolute;
		top: 30px;
		right: 30px;
		font-size: 2.5em;
		background-color: #fff;
		cursor: pointer;
		z-index:30001;
		border-radius: 20%;
		padding: 5px;
		color: $textl;
		background-color: rgba(255,255,255,1)
	}
	.popup_inner_wrap {
		position: absolute;
		top: 40px;
		bottom: 40px;
		left: 40px;
		right: 40px;
		.popup_inner_img {
			display: block;
			margin: 0 auto;
			width : auto!important;
			height: 100%!important;
			max-height: 100%!important;
		}
	} 
	
//#=====================================
	//popupImg END



	//ADMIN MAIN begin	
//#=====================================
	#admin_wrap {
		ul.nav-tabs {
			margin-top: 15px;
			li {
				display: block;
				float: left;
				width: 33.333%;
				a {
					text-transform: uppercase;
					font-weight: bold;
					font-size: 1.2em;
					color: $bgd;
				}
			}	
		}
	}
	#admin_view {
		background-color: #fff;
		border: 1px solid #ddd;
		border-top: none;
		padding: 40px 15px 20px 15px;	
	}	
	.items_group {
		position: relative;
		border: 1px solid $border;
		padding: 15px;
		>span {
			background-color: $bodybg;
			border: 1px solid $borderd;
			font-size: 1.1em;
			font-weight: bold;
			border-radius: 4px;
			padding: 5px;
			top: -20px;
			position: absolute;
			left: 20px;
			text-transform: uppercase;
		}
	}

//#=====================================
	//ADMIN MAIN end



	//ADMIN PRODUCT begin	
//#====================================================================
	
	#work_buttons_admin_product {
		text-align: center;
		margin-bottom: 30px;
		button {
			margin-left: 25px;
		}
		input {
			font-weight: bold;
			// line-height: 1.42857143;
			padding: 3px 12px;
			margin: 0;
			text-align: center;
		}
	}

	#admin_product {
		p {
			text-align: center;
			font-size: 1.1em;
		}
		//select DB
		.items_group {
			.selectDb {
				width: 120px;
				float: left;
				border: 1px solid $border;
				margin: 5px;
				padding: 5px;
				cursor: pointer;
				transition: 0.35s;
				text-align: center;
				img {
					max-height: 70px;
					width: auto;

				}
				label {
					cursor: pointer;
				}
				input {
					width: 0;
					height: 0;
				}
				&:hover {
					background-color: $border;
					h2 {color: #fff}
				}
			}
		}
	}
	
	#admin_product_menu,
	.admin_analitika_menu {
		margin-top: 40px;
		li {
			float: left;
			padding: 10px 10px 5px;
			background-color: #fff;
			font-weight: bold;
			cursor: pointer;
			z-index:1;
			border: 1px solid transparent;
			span {opacity: 0.5}
		}
	}
	.admin_product_menu_active,
	.admin_analitika_menu_active {
		border: 1px solid $border!important;
		border-bottom:  1px solid transparent!important;
		box-shadow: 0 1px 0 #fff;
		span {opacity: 1!important}
	}
	#admin_product_view {
		padding: 10px;
		border: 1px solid $border;
	}
	//admin search ===================================================
	#admin_product_search {
		.input_wrapper {
			padding: 10px;
			.input_item {
				position: relative;
				padding: 0 5px;
				width: 20%;
				float: left;
				// padding-right: 20px;
				input {
					padding-left: 35px;
					border-radius: 4px;
					font-size: 1em;
				}
				.fa-check,
				.fa-search {
					position: absolute;
					top: 10px;
    				left: 18px;
					font-size: 1.4em;
					&:before {
						color: #fff;
					}
				}
				.fa-search {
					&:before {
						color: #337ab7;
					}
				}
				button {
					width: 100%;
					position: relative;
					height: 34px;
					margin: 5px;
					
				}
			}
		}
		.pagination_wrap {
			margin-top: 15px;
			margin-bottom: 15px;
		}
		table {
			thead {
				td {
					text-transform: uppercase;
					font-weight: bold;
				}
			}
			td {
				text-align: center;
			}
			
			thead {
				background-color: #ccc;
			}
		}		
	}
	.hide_pagination {
		opacity: 0!important;
		a {
			pointer-events: none!important;
			cursor: default!important; 
		}
	}
	//admin add new product (haracteristics sale colors images)==============================
	#admin_product_addNew {
		>p {
			text-align: center;
			margin: 10px auto;
		}
	}

	.add_prod_item {
		
		position: relative;
		padding: 40px 10px;
		border: 2px solid $border;
		margin-top: 50px;
		>h2 {
			position: absolute;
			top: -15px;
			left: 20px;
			padding: 3px 5px;
			background-color: $border;
			font-size: 1.1em!important;
			text-transform: uppercase;
			border-radius: 3px;
			border: 1px solid $borderd;
		}

	}
	//haracteristics
	#admin_add_options {
		button  {
			margin-bottom:  20px;
		}
		.form-group {
			label {
				// display: none!important;
				padding-left: 7px;
			}
			input {
				margin-top: 0;
			}
		}
	}
	//sale
	#admin_add_sale {
		textarea,
		.check_wrap,
		input	 {
			float: left
		}
		textarea {
			margin-top: 10px!important;
		}
		.check_wrap {
			label {
				cursor: pointer;
				margin: 0;
				width: 155px;
				background-color: #fff;
			}
			i:before {
				color: $success;
				opacity: 0;
			}			
		}
		input {
			margin-left: 5px!important;
			padding: 2px 5px!important;
			width: 100px;
			height: auto;
    		margin-top: 1px!important;
		}	
	}
	//colors
	#admin_add_colors {
		.new_color_view {
			width: 100px;
			margin-left: 10px;
		}
		.btn.btn-info  {
			margin: 0 20px;
		}
		label {
			display: block;
			margin: 3px;
		}
		input,
		button,
		div {
			float: left;
		}
		input {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	#new_colors_wrap {
		display: inline-block;
	}
	.current_new_color {
		position: relative;
		float: left;
		width: 34px;
		height: 34px;
		margin-right: 40px;
		border-radius: 2px;
		border: 1px solid $border;
		box-shadow: inset 1px 1px 1px #fff, inset -1px -1px 1px #fff; 
		button {
			position: absolute;
			top: 0px;
			right: -18px;
			margin: 0;
			padding: 0;
			border: none;
			background-color: transparent;
			&:hover {
				background-color: transparent;
			}
		}
	}
	.valid_val {box-shadow: inset -2px 0 0 $success}
	.invalid_val {box-shadow: inset -2px 0 0 $danger}	
	//button add new product
	.admin_btn_product {
		display: block;
		text-align: center;
		margin: 40px auto;
		font-size: 1.3em;
		padding: 10px 15px;
	}
	//admin images add new product
	#select_images_wrap {
		border: 1px solid $border;
		padding: 30px 35px 15px;
		text-align: center;
		>button {
			font-size: 1.3em;
			padding: 5px 15px;
			margin-top: 30px;
		}
		h2 {
			font-weight: bold;
			text-transform: uppercase;
		}	
		.img_wrap {
			position: relative;
			background-color: #fff;
			height: 100px;
			border: 1px solid $border;
			text-align: center;
			h3 {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				color: rgba(0,0,0,.5);
				font-weight: bold;
			}
			img {

				width: auto;
				height: 99px;
			}
			.btn_add_imgSlide  {
				padding: 2px;
				cursor: pointer;
				border: 1px solid $border;
				position: absolute;
				top: 105%;
				left: 0;
				width: 100%;
				text-align: center;
				opacity: 0.6;
			}
			.btn_add_imgSlide:hover {
				opacity:1;
			}
			>i {
				z-index:-1000;
				opacity: 0;
				font-size: 3em;
				color: rgba(255,255,255,.75);
				// color: rgba(0,0,0,.75);
				position: absolute;
				-webkit-transform:translate(-50%,-50%);
				transform:translate(-50%,-50%);
			}
			.fa-check {
				top: 50%;
				left: 50%;
			}
			.fa-refresh {
				top: 29%;
    			left: 41%;	
			}
			.load_img_active {
				opacity: 1;
				z-index: 100;
			}
		}
		.image_item_wrap {
			text-align: center;
			padding: 5px;
			padding-bottom: 30px;
			border: 1px solid $border;
		}
		h4 {
			padding: 3px 5px;
			display: inline-block;
			border: 1px solid $border;
			border-bottom: none;
		}
	}
//#=====================================
	//ADMIN PRODUCT end	

	//ADMIN PRODUCT EDIT begin	
//#=====================================
	.bottom_position {
		top: -25px!important;
	}
	.new_img_edit_product {
		font-weight: bold!important;
		font-size: 1.1em;
		color: $success;
	}
//#=====================================
	//ADMIN PRODUCT EDIT end



	//ADMIN USERS begin	
//#=====================================
	#admin_users {
		thead {
			background-color: #ccc;
		}
		.list_users {
			table {
				margin-top: 15px;
				width: 100%!important;
			}
			thead,
			tbody {
				td {
					text-align: center;
				}
			}	
		}
		input {
			text-align: center
		}
	}
	#current_user {
		table {
			width: 100%;
			margin: 10px 0;
		}
		h4 {
			text-align: center;
		}
		td {
			text-align: center;
			position: relative;
			button {
				position: absolute;
				top: 5px;
				right: 5px;
			}
		}
		label {
			display: block;
			text-align: center;
			margin: 15px auto;
			input{
				// display: inline;

			}
		}
		.img_wrap {
			height: 200px;
			border: 1px solid $border;
			position: relative;
			overflow: hidden;
			text-align: center;
			img {
				width: auto;
				height: 100%;

			}
			button {
				margin: 0;
				padding: 0;
				background-color: transparent;
				border: none;
				position: absolute;
				bottom: 3px;
				right: 3px;
				i {
					font-size: 2em;
					color: rgba(0,0,0,.5)
				}
				&:hover {
					box-shadow: none;
					i {
						font-size: 2em;
						color: rgba(0,0,0,.9)
					}	
				}
				
			}
		}	
		.user_comments {
			position: relative;
			button {
				position: absolute;
				top: 2px;
				right: 2px;
			}
		}
	}


//#=====================================
	//ADMIN USERS end	


	//ADMIN ANALITIKA begin
//#=====================================
	#admin_analitika {
		position: relative;
		>ul li {
			padding: 15px 50px;
			span {
				font-size: 1.3em;
			}
		}
		h2 {
			font-size: 1.3em;
			text-align: center;
			margin: 30px 0;
			font-weight: bold;
			span {
				font-weight: normal;
				font-size: 0.9em
			}
		}
		.analitika_view {
			padding: 10px;
			border: 1px solid $border;
		}	
	}
	.admin_analitika_menu {
		margin-top: 0!important;
	}
	//grafiks
	.grafik_wrap {
		position: relative;
		margin-left: 50px;
		.table_wrap {
			padding-top: 30px;
			position: relative;
		}
		.grafic_vertical_descrip {
			position: absolute;
			left: -140px;;
			top: 30%;
			-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);
		}
		table {
			width: 100%;
			td {
				text-align: center;
			}
		}
		.grafik {
			border-left: 2px solid $borderd;
			width: 100%;
			td {				
				height: 320px;
				padding-top: 20px;
				border-bottom: 2px solid $borderd;
				&:first-child {
					position: relative;
					&:after {
						content:"";
						z-index:1000;
						display: block;
						position: absolute;
						top: -23px;
    					left: -5px;
						border: 5px solid transparent;	
						border-bottom: 20px solid $borderd;
					}
				}
				&:last-child {
					position: relative;
					&:before {
						content:"";
						z-index:1000;
						display: block;
						position: absolute;
						bottom: -6px;
						right: -14px;
						border: 5px solid transparent;	
						border-left: 20px solid $borderd;
					}
				}
			}
		}	
	}
	// ===========grafic ARHIV month=====================
	//horizontal names  month
	.name_month_wrap {
		h3 {
			cursor: pointer;
			border-radius: 0;
			float: left;
			text-align: center;
			font-weight: bold;
			margin: 10px 0;
			font-size: 1.2em;
			transition: 0.3s;
			opacity: 0.6;
			&:hover {
				opacity:1;
				-webkit-transform: scale(1.1, 1.1);
					transform: scale(1.1, 1.1);
			}
		}
	}
	//items blocks
	.grafik_item_wrap {
		position: relative;
		.admin_analitika_visits,
		.admin_analitika_uniq_visits {
			position: absolute;
			bottom: 0;
			padding: 5px;
			border: 1px solid $border;
			@media (max-width:768px) {
				padding: 0;
			}
		}
		.admin_analitika_visits {
			background-color: $successl;
			right: 50%;
			color: $textd;
		}
		.admin_analitika_uniq_visits {
			background-color: $successd;
			left: 50%;
			color: #fff;
		}	
	}
	// ===========grafic CURRENT month=====================
	//current month // grafic diagramma
	.view_current_month {
		>h2 {
			margin: 30px 0 40px; 
		}
		table {
			td {
				div {
					border-radius: 20%;
					font-size: 0.5em;
					padding: 0;
					transition: 0.3s;
					z-index:1001;
					&:hover {						
						-webkit-transform: scale(2.5, 2.5);
						transform: scale(2.5, 2.5);
					}
				}
			}
		}
	}
	.grafik_item_wrap {
		.curr_month { background-color:#BBBBBB }
	}
	.current_month_descript {
		margin-bottom: 15px;
		text-align: center;
		span {
			font-size: 1.2em;
			&:first-child {
				b {text-transform: uppercase}
				
			}
			b {
				font-weight: bold
				
			}
		}
	}
	// current month date, gorizontal
	.date_grafic {
		padding-top: 10px;
		opacity: 0.6;
		font-size: 1.2em;
		transition: 0.3s;
	}
	.date_grafic_active {
		opacity: 1;
		-webkit-transform: scale(1.7, 1.7);
		transform: scale(1.7, 1.7);
	}
	// gorizontal line in current month 
	.gorizontal_line {
		position: absolute;
		left: 0;
		height: 1px;
		background-color: $border;
		width: 100%;
		z-index:999;
		opacity: 0.5;
		span {
			display: block;
			width: 30px;
			text-align: center;
			position: absolute;
			left: -30px;
			top: -10px;
		}
	}
	.line_top {bottom: 90%}
	.line_middle {bottom: 60%}
	.line_bottom {bottom: 30%}
	//gorizontal description colours
	.grafic_gorizontal_descrip {
		width: auto!important;
		margin: 20px auto;
		vertical-align: middle;
		tbody tr td {
			text-align: left!important;
			padding: 10px 0;
			&:nth-child(2) {
				padding-left: 5px;
				font-size: 1.2em;
			}
		}
		.descr_visits,
		.descr_visits_uniq {
			display: block;
			width: 25px;
			height: 25px;
			border: 1px solid $border;
			background-color: #000;
		}
		.descr_visits {background-color: $successl}
		.descr_visits_uniq {background-color: $successd}	
	}	

//#=====================================
	//ADMIN ANALITIKA end	












	//ACTIVE CLASSES begin	
//#=====================================
	.check_sale:before {opacity:1 !important}
	
	.img_empty {border: 1px solid $danger!important}
	.selectDb_active {
		background-color: $borderd!important;
		h2 {color: #fff!important}
		>span {
			color: #fff;
			font-weight: bold;
		}
	}
	.view_hide {
		position: fixed!important;
		top: 50%!important;
		left: 50%!important;
		z-index:-100000!important;
		width: 0px!important;
		height: 0px!important;
		overflow: hidden!important;
	}

	.message_success {
		color: $danger;
	}
	.message_err {
		color: #2C902C;
	}
//#=====================================
	//ACTIVE CLASSES end	

	
//fixed elements WORK


.work_btn {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
}
.work_btn_login {
	position: fixed;
	top: 50px;
	left: 0;
	font-size: 0.5em;
	margin-top: 7px!important;
	span { font-size: 1em; font-weight: bold
	}
	z-index:5000;
	background-color: #fff;
}
.work_btn {
	position: fixed;
	top: 100px;
	left: 0;
	font-size: 1em;
	margin-top: 7px!important;
	span { font-size: 1em; font-weight: bold
	}
	button {
		margin-bottom: 10px;
		&:hover {
			transform:translateX(20px) scale(2,2)
		}
	}
	z-index:15000;
	// background-color: #fff;
}

//!!!!!!!!!!!для плавного скрола
body {transition: 0.3s}

// body {
// 	display: none
	
// }