
@font-face {
    font-family:"homizio_nova_regular";
    src: url(../fonts/homizio_nova_regular.otf);
    src: url(../fonts/homizio_nova_regular.ttf);
}

@font-face {
    font-family:"homizio_nova_light_italic";
    src: url(../fonts/homizio_nova_light_italic.ttf);
    src: url(../fonts/homizio_nova_light_italic.otf);
}

@font-face {
    font-family:"homizio_nova_light";
    src: url(../fonts/homizio_nova_light.ttf);
    src: url(../fonts/homizio_nova_light.otf);
}

@font-face {
    font-family:"homizio_nova_italic";
    src: url(../fonts/homizio_nova_italic.otf);
    src: url(../fonts/homizio_nova_italic.ttf);
}


@font-face {
    font-family: 'svgfont_1regular';
    src: url('../font-icon/footer_font_icon-webfont.eot');
    src: url('../font-icon/footer_font_icon-webfont.eot') format('embedded-opentype'),
    url('../font-icon/footer_font_icon-webfont.woff2') format('woff2'),
    url('../font-icon/footer_font_icon-webfont.woff') format('woff'),
    url('../font-icon/footer_font_icon-webfont.ttf') format('truetype'),
    url('../font-icon/footer_font_icon-webfont.svg#svgfont_1regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'svgfont_header';
    src: url('../font-icon/header_svg-webfont.eot');
    src: url('../font-icon/header_svg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font-icon/header_svg-webfont.woff2') format('woff2'),
         url('../font-icon/header_svg-webfont.woff') format('woff'),
         url('../font-icon/header_svg-webfont.ttf') format('truetype'),
         url('../font-icon/header_svg-webfont.svg#svgfont_1regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*//все иконки*/
/*@font-face {
    font-family: 'svgfont';
    src: url('../font-icon/loka_icon-webfont.eot');
    src: url('../font-icon/loka_icon-webfont.eot') format('embedded-opentype'),
         url('../font-icon/loka_icon-webfont.woff2') format('woff2'),
         url('../font-icon/loka_icon-webfont.woff') format('woff'),
         url('../font-icon/loka_icon-webfont.ttf') format('truetype'),
         url('../font-icon/loka_icon-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

@font-face {
    font-family: 'svgfont';
    src: url('../font-icon/all_icon.eot');
    src: url('../font-icon/all_icon.eot') format('embedded-opentype'),
         url('../font-icon/all_icon.woff2') format('woff2'),
         url('../font-icon/all_icon.woff') format('woff'),
         url('../font-icon/all_icon.ttf') format('truetype'),
         url('../font-icon/all_icon.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}









