
<ul class="starReiting">
	<li>
		<a href="#"  ng-click="setReiting($event, 1)" ng-mouseenter="starHover('enter', $event, 1)" ng-mouseleave="starHover('leave', $event, 1)">
			<i ng-class = "getClass('1')"></i>
		</a>
	</li>
	<li>
		<a href="#"  ng-click="setReiting($event, 2)" ng-mouseenter="starHover('enter', $event, 2)" ng-mouseleave="starHover('leave', $event, 2)">
			<i ng-class = "getClass('2')"></i>
		</a>
	</li>
	<li>
		<a href="#"  ng-click="setReiting($event, 3)" ng-mouseenter="starHover('enter', $event, 3)" ng-mouseleave="starHover('leave', $event, 3)">
			<i ng-class = "getClass('3')"></i>
		</a>
	</li>
	<li>
		<a href="#"  ng-click="setReiting($event, 4)" ng-mouseenter="starHover('enter', $event, 4)" ng-mouseleave="starHover('leave', $event, 4)">
			<i ng-class = "getClass('4')"></i>
		</a>
	</li>
	<li>
		<a href="#"  ng-click="setReiting($event, 5)" ng-mouseenter="starHover('enter', $event, 5)" ng-mouseleave="starHover('leave', $event, 5)">
			<i ng-class = "getClass('5')"></i>
		</a>
	</li>
</ul>
{{goods.reiting.val}}

